/* BUSTDESIGN CSS */
/* design: bustdesign (bustdesign.eu) */
/* code: azurry (azurry.com) */

* {
    color: black;
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    @media only screen and (max-height: 720px) {
        font-size: 18px;
    }
}
html, body, .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    @media only screen and (max-width: 720px) {
        padding: 5%;
    }
}
body {
    background-image: url(../img/stroke.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom right;
    @media only screen and (max-width: 500px) {
        background-size: 100%;
        background-attachment: fixed;
    }
}
.section {
    @media only screen and (max-width: 500px) {
        height: 100%;
    }
}
.content {
    position: relative;
    z-index: 10;
}
.logo {
    display: flex;
    position: absolute;
    top: 15%;
    left: 15%;
    height: 50px;
    max-width: 50%;
    @media only screen and (max-width: 500px) {
        position: relative;
        left: 0;
        top: 0;
    }
}
.scroll {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 15%;
    height: 70px;
    max-width: 50%;
    @media only screen and (max-width: 500px) {
        position: relative;
        bottom: 0;
        left: 0;
    }
}
.nadpis {
    min-height: 120px;
    max-height: 120px;
    max-width: 100%;
    flex-grow: 1;
    padding-bottom: 25px;
}
@media only screen and (max-width: 500px) {
    .content {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    }
}
.nadpis-main {
    max-height: 190px;
    max-width: 100%;
    flex-grow: 1;
    padding-bottom: 25px;
}
.cudliky {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    @media only screen and (max-width: 460px) {
        flex-direction: column;
        justify-content: center;
    }
    
    a {
        width: 220px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        @media only screen and (max-height: 720px) {
            width: 110px;
        }
        @media only screen and (max-width: 460px) {
            width: 100%;
            flex-direction: row;
        }
        
        img {
            width: 100%;
            border: 1px solid white;
            box-sizing: border-box;
            margin: auto;
            @media only screen and (max-width: 460px) {
                width: 10%;
                opacity: 0;
            }
        }
    }
}
img.profilovka {
    width: 275px;
    height: 275px;
    @media only screen and (max-height: 720px) {
        width: 200px;
        height: 200px;
    }
    @media only screen and (max-width: 600px) {
        width: 100px;
        height: 100px;
    }
    @media only screen and (max-width: 420px) {
        display: none;
    }
}
span.popisok {
    width: 50%;
    height: 275px;
    max-width: 750px;
    padding-left: 150px;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-height: 720px) {
        height: 200px;
    }
    @media only screen and (max-width: 720px) {
        padding-left: 15px;
    }
    @media only screen and (max-width: 420px) {
        padding: 0px;
        width: 100%;
    }
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    @media only screen and (max-height: 640px) {
        padding: 0;
    }
    
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-height: 850px) {
            .frame {
                max-height: 80%;
                max-width: 50%;
            }
        }
        @media only screen and (max-height: 640px) {
            .frame {
                display: none;
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-left: 70px;
        span {
            margin: 15px 0;
        }
        @media only screen and (max-height: 640px) {
            padding: 0;
            span {
                margin: 5px 0;
            }
        }
    }
}
.foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    @media only screen and (max-width: 500px) {
        display: none;
    }
}
.kontakt {
    background-color: white;
    @media only screen and (max-width: 500px) {
        background-color: transparent;
    }
}
.h1 {
    opacity: 0.5;
    font-size: 48px;
    font-weight: bold;
}
.h2 {
    font-size: 24px;
    font-weight: bold;
}
.podpis {
    padding-top: 70px;
    max-width: 500px;
    @media only screen and (max-height: 640px) {
        padding: 0;
    }
}
.center {
    justify-content: center;
}